<script>
{% macro make_chart(chart_name,data,labels,start,steps,max) %}
var barData = {
labels : [{% for item in labels %}
               "{{item}}",
           {% endfor %}],
datasets : [
   {
         fillColor: "rgba(151,187,205,0.2)",
         strokeColor: "rgba(151,187,205,1)",
         pointColor: "rgba(151,187,205,1)",
         pointStrokeColor: "#fff",
         pointHighlightFill: "#fff",
         pointHighlightStroke: "rgba(151,187,205,1)",
         bezierCurve : false,
         data : [{% for item in data %}
                        "{{item}}",
                    {% endfor %}]
   }]
}

 Chart.defaults.global.animationSteps = 50;
 Chart.defaults.global.tooltipYPadding = 16;
 Chart.defaults.global.tooltipCornerRadius = 0;
 Chart.defaults.global.tooltipTitleFontStyle = "normal";
 Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
 Chart.defaults.global.animationEasing = "easeOutBounce";
 Chart.defaults.global.responsive = false;
 Chart.defaults.global.scaleLineColor = "black";
 Chart.defaults.global.scaleFontSize = 16;

// get bar chart canvas
var mychart = document.getElementById("{{chart_name}}").getContext("2d");

steps = {{steps}}
max = {{max}}
// draw bar chart
var LineChartDemo = new Chart(mychart).Line(barData, {
     scaleOverride: true,
     scaleSteps: steps,
     scaleStepWidth: max / steps,
     scaleStartValue: {{start}},
     scaleShowVerticalLines: true,
     scaleShowGridLines : true,
     barShowStroke : true,
     scaleShowLabels: true,
     bezierCurve: false,

});
{% endmacro %}
</script>
{% set active_page = 'Chart' %}

{% extends 'shared/html/_base.html' %}
{% block head %}
 
   <!-- import plugin script -->
   <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
 
{% endblock head %}
{% block nav %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="secondaryNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{url_for('landing.index')}}#page-top">Futair</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#what">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#belief">Belief</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#setup">Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#measurements">Sensors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#graphing">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#mapping">Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('landing.hub')}}">Data Hub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endblock nav %}
{% block pageheader %}s
{% endblock pageheader %}

{% block fullPage %}
 
<!-- bar chart canvas element -->
<section class="graphs">
    <h1>Time series graphs</h1>
  <div class="row graph_row">
    <div class="col-md-4">
      <h2>Temperature (&#176;C)</h2>
      <canvas id="chart1" width="600" height="400"></canvas>
    </div>
    <div class="col-md-4">
      <h2>Nitrogen Dioxide (ppm)</h2>
      <canvas id="chart2" width="600" height="400"></canvas>
    </div>
    <div class="col-md-4">
      <h2>Carbon Monoxide (ppm)</h2>
      <canvas id="chart3" width="600" height="400"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <h2>Humidity (%)</h2>
      <canvas id="chart4" width="600" height="400"></canvas>
    </div>
    <div class="col-md-4">
      <h2>Pressure (Bar)</h2>
      <canvas id="chart5" width="600" height="400"></canvas>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</section>
<script>

// Change generic parameters in the macro above (and add additional arguments if necessary)
// make_chart(chartname, data, labels, start_value, step, max)
{{ make_chart('chart1',temps,times,0,8,32) }}

{{ make_chart('chart2',no2s,times,0.05,10,0.5) }}

{{ make_chart('chart3',cos,times,0,10,10) }}

{{ make_chart('chart4',hums,times,0,10,100) }}

{{ make_chart('chart5',pres,times,0,10,150) }}

</script>

{% endblock fullPage %}
