{% set active_page = 'Chart' %}

{% extends 'shared/html/_base.html' %}
{% block head %}
 
   <!-- import plugin script -->
   <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
 
{% endblock head %}
{% block nav %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="secondaryNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{url_for('landing.index')}}#page-top">Futair</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#belief">Belief</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#setup">Setup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#measurements">Measurements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#graphing">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#mapping">Mapping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('landing.hub')}}">Data Hub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endblock nav %}
{% block pageheader %}

{% endblock pageheader %}

{% block fullPage %}
 
<h1>Flask Chart.js</h1>
<!-- bar chart canvas element -->
<div class="container">
  <canvas id="chart" width="1200" height="800"></canvas>
</div>
<script>
 
   // bar chart data
   //var lbls = {{labels}};
   //var vals = {{values}};
   //console.log(lbls,vals);
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,
            data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }]
   }
 
    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;
 
   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");
 
   steps = 8
   max = 40
   // draw bar chart
   var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 10,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
 
   });
 
 
</script>

{% endblock fullPage %}
