{% set active_page = 'Hub' %}

{% extends 'shared/html/_base.html' %}
{% block head %}
<style>
#map {  
  height: 800px;  
  width: 100%;
  padding-top: 300px;
}
</style>

{% endblock head %}
{% block nav %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="secondaryNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{url_for('landing.index')}}#page-top">Futair</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#what">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#belief">Belief</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#setup">Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#measurements">Sensors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#graphing">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#mapping">Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{url_for('landing.index')}}#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('landing.hub')}}">Data Hub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endblock nav %}
{% block pageheader %}

{% endblock pageheader %}

{% block fullPage %}

<div id="map"></div>

<script>
  function getCol(val,med,high){
    var colour = "#51a839";
    var level = 0;
    if (val > med){
      colour = "#ed9726";
      level = 1;
    }
    if (val > high) {
      colour = "#ed5326";
      level = 2;
    }
    return {"colour":colour,"level":level};
  }
  
  function precisionRound(number, precision) {
    var factor = Math.pow(10, precision);
    return Math.round(number * factor) / factor;
  }
  
  function prettyPrint(payload){
    var sout = ""; //"<ul style='list-style: none;'>";
    for (var key in payload){
      var value = payload[key];
      var col = "#000000";
      var unit = "";
      if (key == "CO"){
        col = getCol(value,30,60).colour;
        unit = "<small>ppm</small>"
        value = precisionRound(value,2)
      }
      if (key == "NO2"){
        col = getCol(value,5,7).colour;
        unit = " <small>ppm</small>"
      }
      if (key== "temp"){
        unit = " <small>&#176;C</small>"
      }
      if (key== "pressure"){
        unit = " <small>Bar</small>"
        value = precisionRound(value/100000,2);
      }
      if (key== "humidity"){
        unit = "%"
        value = precisionRound(value*100,1);
      }
      console.log(col);
      sout += `<h5>${key}: <font style=\"color:${col};\">${value}</font>${unit}</h5>`;
    }
    return sout;
  }
  var futairs = JSON.parse('{{ data | tojson | safe}}');
  console.log(futairs)
  
  function initMap() {
      var imperial = {lat: 51.4988, lng: -0.1667};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: imperial
      });
      for (var key in futairs) {
          var futair = futairs[key]
          //var marker = new google.maps.Marker({
          //  position: {lat: futair.location.lat, lng: futair.location.lng},
          //  map: map,
          //  title: prettyPrint(futair.payload)
          //  //payload: futair.payload
          //});
          console.log(getCol(futair.payload.NO2,5,7));
          var circ_col1 = getCol(futair.payload.NO2,5,7);
          var circ_col2 = getCol(futair.payload.CO,30,60);
          console.log(getCol(futair.payload.CO,30,60));
          if (circ_col1.level > circ_col2.level) {
            circle_colour = circ_col1.colour;
          } else {
            circle_colour = circ_col2.colour;
          }
          var circ = new google.maps.Circle({
            center:{lat: futair.location.lat, lng: futair.location.lng},
            radius:200,
            map:map,
            strokeColor:circle_colour,
            strokeOpacity:0.8,
            strokeWeight:2,
            fillColor:circle_colour,
            fillOpacity:0.4,
            title: `<h5><a href="chart/${key}">ID: ${key}</a></h5>` + prettyPrint(futair.payload),
            payload: futair.payload,
            id: key
          });
          var mark = new google.maps.Marker({
            map: map
          });
          var infowindow = new google.maps.InfoWindow({});
          circ.addListener('mouseover', function () {
            if (typeof this.title !== "undefined") {
              mark.setPosition(this.getCenter()); // get circ's center
              mark.setVisible(false); // hide the marker
              infowindow.setContent(this.title); // set content
              infowindow.open(map, mark); // open at circle location
              
            }
          });

          circ.addListener('mouseout', function () {
            infowindow.close();
          });
        }
      }
  //function initMap() {
  //  var imperial = new google.maps.LatLng(51.4988, -0.1667);
  //  var map = new google.maps.Map(document.getElementById('map'), {
  //    zoom: 12,
  //    center: imperial
  //  });
  //  
  //  }
  //
  //  for (var key in futairs) {
  //    var futair = futairs.key;
  //    var pos = new google.maps.LatLng(futair.location.lat, futair.location.lon);
  //    var marker = new google.maps.Marker({
  //      position: {lat: futair.location.lat, lng: futair.location.lon},
  //      map: map,
  //      title: key,
  //      payload: futair.payload
  //    });
  //    
  //}
  // To add the marker to the map, call setMap();
  //marker.setMap(map);
  //var testmarker = new google.maps.Marker({
  //  position: imperial,
  //  map: map,
  //  title: "Hello world",
  //  payload: futair.payload
  //});
  //testmarker.setMap(map);
</script>


{% endblock fullPage %}
{% block footer %}
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfTv7tlnrnNkojoYyfWCwdLW0nJ0Wa7Gg&callback=initMap">
</script>
{% endblock footer %}
