{% set active_page = 'Example' %}

{% extends 'shared/html/_base.html' %}

{% block fullPage %}

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">Airhead</div>
      <div class="intro-lead-in">A low cost, self powered air quality sensor for the future.</div>
    </div>
  </div>
</header>

<section id="belief">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 section-header">
          <h2>Our Philosphy</h2>
          <p>We believe that an important part of solving this problem is to have a cheap method of obtaining accurate and real time data on the extent of the crisis. Policy makers can devise and legislate new regulations more effectively if they have hard evidence for on the country-wide trends in air pollution. Law enforcement officials can then test the efficacy of these solutions by using a data driven approach to curbing emissions. <p>
          <p> More than 80% of people living in urban areas that monitor air pollution are exposed to 
            air quality levels that exceed the World Health Organisation limits. 
            Populations in low-income cities are the most impacted; 98% of cities in low- and middle 
            income countries with more than 100,000 inhabitants do not meet World Health Organisation air quality guidelines. 
            However, in high income countries, that percentage decreases to 56%. </p>
          <p>For example, NO2 pollution, which is produced largely by diesel vehicles, causes 5,900 early deaths every year in London. Most air quality zones across the UK break legal limits and the crisis was called a “public health emergency” by MPs in April. Scientists said that one in 10 cases of Alzheimer’s in people living near busy roads could be linked to air pollution.  </p> 
        </div>
      </div>
  </div>
</section>


<section class="trees backing">
  <div class="backing-content">
    <h2>Data is power.</h2>
    <p>We cannot solve air pollution without lots of data.</p>
  </div>
</section>


<section class="row how" id="setup">
  <div class="container">
    <div class="row section-header">
      <h2>What makes it tick?</h2>
      <p>How does the worlds more scalable and affordable air quality device actually work?</p>
    </div>
    <div class="row how_icon">
      <!--==========Item==========-->
      <div class="col-sm-3">
        <h4>Setup</h4>
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <p>Setup is painless. The Airhead powers itself using Solar and batteries. Automatically connects for transmission and starts sensing.</p>
      </div>
      <!--==========Item==========-->
      <div class="col-sm-3">
        <h4>Gather Data</h4>
        <i class="fa fa-microchip" aria-hidden="true"></i>
        <p>Once the Airhead is setup, it will begin reading data at set intervals from the environment.</p>
      </div>
      <!--==========Item==========-->
      <div class="col-sm-3">
        <h4>Transmit</h4>
        <i class="fa fa-wifi" aria-hidden="true"></i>
        <p>The data can be transmitted over a local network, or long distances using a low power radio network.</p>
      </div>
      <!--==========Item==========-->
      <div class="col-sm-3">
        <h4>Analyse</h4>
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        <p>View realtime readings from all your sensors as well as their histories. Analyse differents between sensors depending on location.</p>
      </div>
    </div>
  </div>
</section>

<section class="sky backing">
  <div class="backing-content">
    <h2>Clean air is happiness.</h2>
    <p>The quality of the air around us affects how we feel and think.</p>
  </div>
</section>

<section class="row capabilities" id="measurements">
  <div class="container">
      <div class="row section-header">
          <h2>What does it do?</h2>
          <p>There air is full of a lot of stuff! Airhead detects the 'stuff' most important to you. It is packed full of sensors to calculate the quality of the air, and send the results to the cloud.</p>
      </div>
      <div class="row">
          <!--==========Item==========-->
          <div class="col-sm-6 col-md-4 capability">
              <div class="media">
                  <div class="media-left text_green">
                      <span><i class="lnr lnr-bus"></i></span>
                  </div>
                  <div class="media-body text_blue">
                      <h4>Carbon Monoxide</h4>
                      <p>A deadly colourless and odourless gas.</p>
                  </div>
              </div>
          </div>
          <!--==========Item==========-->
          <div class="col-sm-6 col-md-4 capability">
              <div class="media">
                  <div class="media-left text_green">
                      <span><i class="lnr lnr-home"></i></span>
                  </div>
                  <div class="media-body text_blue">
                      <h4>Volatile Organic Compounds</h4>
                      <p>Some of which are highly toxic.</p>
                  </div>
              </div>
          </div>
          <!--==========Item==========-->
          <div class="col-sm-6 col-md-4 capability">
            <div class="media">
                <div class="media-left text_green">
                    <span><i class="lnr lnr-drop"></i></span>
                </div>
                <div class="media-body text_blue">
                    <h4>Humidity</h4>
                    <p>Amount of water vapour in the air.</p>
                </div>
            </div>
          </div>
          <!--==========Item==========-->
          <div class="col-sm-6 col-md-4 capability">
            <div class="media">
                <div class="media-left text_green">
                    <span><i class="lnr lnr-sun"></i></span>
                </div>
                <div class="media-body text_blue">
                    <h4>Temperature</h4>
                    <p></p>
                </div>
            </div>
          </div>
          <!--==========Item==========-->
          <div class="col-sm-6 col-md-4 capability">
            <div class="media">
                <div class="media-left text_green">
                    <span><i class="lnr lnr-car"></i></span>
                </div>
                <div class="media-body text_blue">
                  <h4>Nitrogen Dioxide</h4>
                  <p>Common pollutant causing acid rain and irritating airways.</p>
                </div>
            </div>
          </div>
          <!--==========Item==========-->
          <div class="col-sm-6 col-md-4 capability">
            <div class="media">
                <div class="media-left text_green">
                    <span><i class="lnr lnr-earth"></i></span>
                </div>
                <div class="media-body text_blue">
                  <h4>Pressure</h4>
                  <p>Affects how pollutants are in the air.</p>
                </div>
            </div>
          </div>
      </div>
  </div>
</section>

<section class="row graph" id="graphing">
  <div class="row">
    <div class="col-md-6">
        <img class="img-fluid" src="{{ url_for('static', filename='img/graph.jpg') }}"> </img>
    </div>
    <div class="col-md-6">
      <div class="row section-header">
        <h2 class="text_blue">Analysis of Data</h2>
        <p class="text_green">In the hub the user can view and plot graphs of the pollutants from their Airheads.</p>
      </div>
    </div>
  </div>
</section>

<section class="row map" id="mapping">
  <div class="row">
    <div class="col-md-6">
      <div class="row section-header">
        <h2 class="text_blue">Global Mapping Analysis</h2>
        <p class="text_green">Analyse how geographical setting affects your air quality.</p>
      </div>
    </div>
    <div class="col-md-6">
        <img class="img-fluid" src="{{ url_for('static', filename='img/map.png') }}"> </img>
    </div>
  </div>
</section>

<section id="sensors">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <h2>The core of our product is the MiCS-4514 module, which measures the concentration of Nitrogen Dioxide (NO2) and Carbon Monoxide (CO). The module has 2 sensor chips with independent heating and sensitive layers. Once chip measures oxidising gases (OX) while the other measures reducing gases (RED). The heat produced by the heating element causes the surrounding gas to react with the sensitive layer, and the change in the layer’s electrical conductivity tells us the identity of the gas and its concentration in ppm. </h2>
        </div>
      </div>
  </div>
</section>
<div class="container">
  <div class ="row">
    <div class="col-md-6">
      <img class="img-fluid" src="{{ url_for('static', filename='img/soldering.jpg') }}"> </img>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="{{ url_for('static', filename='img/soldering.jpg') }}"> </img>
    </div>
  </div>
</div>


<!-- <section id="mics">
  <div class="container">
    <div class="row">  
      <div class="col">
        <h1>FEATURES</h1>
        <ul>
          <li><h2>Cof</h2></li>
          <li><h2>Tea</h2></li>
          <li><h2>Mil</h2></li>
        </ul> 
      </div>
      <div class="col">
        <h1>DETECTABLE GASES</h1>
        <ul>
          <li><h2>Cof</h2></li>
          <li><h2>Tea</h2></li>
          <li><h2>Mil</h2></li>
        </ul> 
      </div>
    </div>
  </div>
</section> -->



<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">E-Commerce</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Responsive Design</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Web Security</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">About</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{{ url_for('static', filename='img/about/1.jpg') }}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2009-2011</h4>
                <h4 class="subheading">Our Humble Beginnings</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{{ url_for('static', filename='img/about/2.jpg') }}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>March 2011</h4>
                <h4 class="subheading">An Agency is Born</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{{ url_for('static', filename='img/about/3.jpg') }}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>December 2012</h4>
                <h4 class="subheading">Transition to Full Service</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{{ url_for('static', filename='img/about/4.jpg') }}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July 2014</h4>
                <h4 class="subheading">Phase Two Expansion</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part
                <br>Of Our
                <br>Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% macro team_member_entry(img_path,name, role, twitter, github, linkedin) %}
<div class="col-sm-6">
  <div class="team-member">
    <img class="mx-auto rounded-circle" src="{{ url_for('static', filename=img_path) }}" alt="">
    <h4>{{name}}</h4>
    <p class="text-muted">{{role}}</p>
    <ul class="list-inline social-buttons">
      <li class="list-inline-item">
        <a href="#{{twitter}}">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#{{github}}">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#{{linkedin}}">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endmacro %}

<!-- Team -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row">
      {{ team_member_entry('img/team/1.jpg','Douglas Brion','Airhead','','','') }}
      {{ team_member_entry('img/team/2.jpg','Geroge Punter','Backend Developer','','','') }}
      {{ team_member_entry('img/team/3.jpg','Thom','Chief Average Officer','','','') }}
      {{ team_member_entry('img/team/3.jpg','Agni Iyer','That guy','','','') }}
    </div>
    
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section>

<!-- Clients -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/logos/envato.jpg') }}" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/logos/designmodo.jpg') }}" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/logos/themeforest.jpg') }}" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/logos/creative-market.jpg') }}" alt="">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Contact Us</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form id="contactForm" name="sentMessage" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" id="name" type="text" placeholder="Your Name *" required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" id="message" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock fullPage %}
