#secondaryNav {
  background-color: rgb(10, 41, 14);
}

#secondaryNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#secondaryNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#secondaryNav .navbar-brand.active, #secondaryNav .navbar-brand:active, #secondaryNav .navbar-brand:focus, #secondaryNav .navbar-brand:hover {
  color: #fec503;
}

#secondaryNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#secondaryNav .navbar-nav .nav-item .nav-link.active, #secondaryNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

  #secondaryNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #secondaryNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #secondaryNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #secondaryNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #secondaryNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }

.section {
  padding: 80px 0;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.blue-bg {
  background-color: #1E4F77;
}

.text_green {
  color: rgb(5, 128, 87);
}

.text_blue {
  color: rgb(10, 41, 14);
}

/* Section Headers for different types */
.section-header:after {
  background: #eee;
  text-align: center;
}

.section-header h2 {
  width: 100%;
  color: rgb(10, 41, 14);
  display: inline-block;
  text-align: center;
}

.section-header p {
  width: 100%;
  display: inline-block;
  text-align: center;
  font: 300 22px "Poppins", sans-serif;
}

.section-header.v2:after {
  background: #f6f8fa;
  text-align: center;
}

.section-header.v2 p {
  color: #4e575f;
  text-align: center;
}

/* CSS for the capabilities section of the website */
.capabilities {
  padding: 117px 0;
}

  @media (max-width: 340px) {
    .capabilities {
      overflow: hidden; } }

/* Each item */
.capability {
  margin-top: 60px; }
  .capability:nth-child(1), .capability:nth-child(2), .capability:nth-child(3) {
    margin-top: 35px; }
  @media (max-width: 991px) {
    .capability:nth-child(3) {
      margin-top: 60px; } }
  @media (max-width: 767px) {
    .capability:nth-child(3) {
      margin-top: 35px; } }
  @media (max-width: 767px) {
    .capability {
      min-height: auto;
      margin-top: 35px; } }
  .capability .media .media-left {
    padding: 0;
    text-align: center; }
    .capability .media .media-left span {
      display: block;
      width: 70px;
      font-size: 36px; }
  .capability .media .media-body h4 {
    margin: 0 0 6px;
    font: 600 20px/1 "Poppins", sans-serif; }
  .capability .media .media-body p {
    margin: 0;
    font: 300 14px/22px "Poppins", sans-serif; }

/* Font Awesome how section icons */
.how_icon {
  margin-top: 35px;
}
.how_icon i {
  margin-top: 35px;
  font-size: 80px;
  width: 100%;
  display: inline-block;
  text-align: center;
  color:rgb(5, 128, 87);
}

.how_icon p {
  margin-top: 35px;
  text-align: center;
  color: rgb(10, 41, 14);
}

.how_icon h4 {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: rgb(10, 41, 14);
}

.backing {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.trees {
  color: white;
  background-image: url("../img/grass.jpg");
}

.proto {
  color: white;
  background-image: url("../img/proto1.jpg");
}

.backing-content h2 {
  font-size: 40px;
  margin-left: 10%;
}

.backing-content p {
  font-size: 20px;
  margin-left: 15%;
}

.sky {
  color: rgb(10, 41, 14);
  background-image: url("../img/lightbluesky.jpg");
}

.traffic {
  color: white;
  background-image: url("../img/londontraffic.jpg");
}

body {
    font-family: "Poppins", sans-serif;
}

/* Sane highlight colours */
p::-moz-selection { /* Code for Firefox */
  color: white;

}

p::selection {
  color: white;
}

h1::-moz-selection { /* Code for Firefox */
  color: white;

}

h1::selection {
  color: white;
}

h2::-moz-selection { /* Code for Firefox */
  color: white;

}

h2::selection {
  color: white;
}

h3::-moz-selection { /* Code for Firefox */
  color: white;

}

h3::selection {
  color: white;
}

h4::-moz-selection { /* Code for Firefox */
  color: white;

}

h4::selection {
  color: white;
}

li::-moz-selection { /* Code for Firefox */
  color: white;

}

li::selection {
  color: white;
}
