#secondaryNav {
  background-color: #212529;
}

#secondaryNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#secondaryNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#secondaryNav .navbar-brand.active, #secondaryNav .navbar-brand:active, #secondaryNav .navbar-brand:focus, #secondaryNav .navbar-brand:hover {
  color: #fec503;
}

#secondaryNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#secondaryNav .navbar-nav .nav-item .nav-link.active, #secondaryNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

  #secondaryNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #secondaryNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #secondaryNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #secondaryNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #secondaryNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }

.text-white{
  color: #ced4da;
}

.text-yellow{
  color: #fed136;
}

.section {
  padding: 80px 0;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.blue-bg {
  background-color: #1E4F77;
}
